
@{
    ViewBag.Title = "Portifolio";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h1>
    <center> <font color=#ff0000><b><blink>Portifólio</b></blink></font></center>
</h1><hr />


<table>
    <tr>
        <h5>
            &emsp; <font color=#000000><b><blink>Sistema de Gerenciamento de Veículos</b></blink></font>
        </h5>
        <hr />
        <td>
            <a class="navbar-expand " href="/Portifolio/Portifolio">


                <img src="~/Foto/Site1.png" alt="some text" width=300 height=200>



            </a>

        </td>

    </tr>
</table>
