
@{
    ViewBag.Title = "Servico";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h1>
    <center> <font color=#ff0000><b><blink>Serviços</b></blink></font></center>
</h1><hr />


    <table>
        <tr>
            <h3>
                <font color=#000000><b><blink>Conhecimento</b></blink></font>
            </h3>
            <hr />
            <td>
                &#42;  <font color=#000000><b><blink>Programação de Sistemas Web .NET - WEB.</b></blink></font>
                <br />

                &#42; <font color=#000000><b><blink>Conhecimentos da plataforma Asp.Net MVC (C#).</b></blink></font>
                <br />

                &#42; <font color=#000000><b><blink>Conhecimento com Web Api.</b></blink></font>
                <br />

                &#42; <font color=#000000><b><blink>Conhecimento em Ajax,Angular,Razor,EntityFramework.</b></blink></font>
                <br />

                &#42; <font color=#000000><b><blink>Conhecimentos com SQL Server e jQuery.</b></blink></font>
                <br />

            </td>
        </tr>


    </table>




         <table>
             <tr>
                 <hr />
                 <h3>
                      <font color=#000000><b><blink>Habilidades</b></blink></font>
                 </h3>
                 <hr />

                 <td>
                     &#42; <font color=#000000><b><blink>C#</b></blink></font>
                     <br />
                     &#42; <font color=#000000><b><blink>Asp.Net MVC</b></blink></font>
                     <br />
                     &#42;   <font color=#000000><b><blink>Angular</b></blink></font>
                     <br />
                     &#42;  <font color=#000000><b><blink>EntityFrameWork</b></blink></font>
                     <br />
                     &#42;  <font color=#000000><b><blink>Ajax</b></blink></font>
                     <br />
                     &#42;  <font color=#000000><b><blink>jQuery</b></blink></font>                  
                     <br />
                     &#42; <font color=#000000><b><blink>Sql Server</b></blink></font>
                     <br />
                     &#42;   <font color=#000000><b><blink>Bootstrap</b></blink></font>
                      <br />
                     &#42;   <font color=#000000><b><blink>Web Api</b></blink></font>
                     <br />

                 </td>
             </tr>

         </table>





