
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>
    <center> <font color=#ff0000><b><blink>Sobre</b></blink></font></center>
</h1><hr />

     <div>
         
             <font color=#000000><b><blink>Meu nome é Vanderlei Campos, tenho 31 anos, moro em Nillópolis - Rio de Janeiro .</b></blink></font><br />
             <font color=#000000><b><blink>Graduado em Análise e Desenvolvimento de Sistemas pela Estácio de Sá.</b></blink></font><br />
             <font color=#000000><b><blink>Minha experiência na Faculdade foi de um ambiente próspero para aprendizagem, inovação e crescimento.</b></blink></font><br /><br />

             <font color=#000000><b><blink>Motivo do meu ingresso nessa carreira, foi porque este é um lugar onde posso aplicar minha criatividade,</b></blink></font><br />
             <font color=#000000><b><blink>trabalhar com pessoas inteligentes em projetos fascinantes e causar um impacto positivo na vida das pessoas.</b></blink></font><br /><br />
             <font color=#000000><b><blink>É um lugar onde eu posso aprender, inovar e crescer profissionalmente.</b></blink></font><br />

        

     </div>







