
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}




<h2>
    <center><font color=##ff0000><b><blink> Vanderlei Campos - Analista de Sistemas Jr.</b></blink></font></center>


</h2>
<hr />



<h4><center><font color=#000000><b><blink>Eu Sou Vanderlei Campos</b></blink></font></center></h4>
<font color=#000000><b><blink>Minha experiência está na tecnologia.<br /></b></blink></font>
<br />
<font color=#000000><b><blink>Meu objetivo é gerar Soluções e identificar tudo que seja de importante para a elaboração e realização do projeto.<br /></b></blink></font>
<br />
<font color=#000000><b><blink>Definir participativa e estruturação, buscando o estabelecimento de critérios de informações e inovações na área de atuação. <br /></b></blink></font>
<br />














