<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>


    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <link href="~/Css/Teste.css" rel="stylesheet" />


</head>

<body id="page-top">
    
                <a class="navbar-dark d-md-flex" href="/Home/Index">


                    <img src="/Foto/Logo.png" alt="some text" width=250 height=70>



                </a>
 



    <!-- Navigation -->
    <nav class="navbar navbar-expand btn-dark static-top" role="navigation">

        <br />



        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right ">


            <li>
                <a class="text-center " href="/Portifolio/Sobre" style="color: #ff0000; background-color: #000000">
                    <strong>&emsp;&emsp;&emsp;Sobre&emsp;&emsp;</strong>
                </a>
            </li>


            <li>
                <a class="text-center" href="/Portifolio/Servico" style="color: #ff0000; background-color: #000000">
                    <strong>&emsp;&emsp;Serviços&emsp;&emsp;</strong>
                </a>
            </li>


            <li>
                <a class="text-center" href="/Portifolio/Portifolio" style="color: #ff0000; background-color: #000000">
                    <strong>&emsp;Portifólio&emsp;</strong>
                </a>
            </li>

            <li>
                <a class="text-center" href="/Portifolio/Curriculo" style="color: #ff0000; background-color: #000000">
                    <strong>&emsp;Currículo&emsp;</strong>
                </a>
            </li>


            <li>
                <a class="text-center" href="/Portifolio/Contato" style="color: #ff0000; background-color: #000000">
                    <strong>&emsp;Contato&emsp;</strong>
                </a>
            </li>


        </ul>



    </nav>





    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">

                @RenderBody()
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->



    <ul>
        <footer class="sticky-footer">

            <div class="container my-sm-auto">

                <div class="copyright text-center my-auto">
                    <span><font color=#ff0000><b><blink>Vanderlei Campos © 2018 - Todos os direitos reservados</b></blink></font></span>
                </div>
            </div>
        </footer>
    </ul>




    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>
</html>
